@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap");

:root {
  --primary-color: #047aed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kiwi Maru", serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h3 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Navbar*/
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 80px;
}

.navbar ul {
  padding: 25px 0;
}

.navbar a {
  color: #fff;
  /*padding: 0 18px;*/
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

#menu .toggle {
  display: none;
}

/* Showcase */

.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h3 {
  font-size: 25px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
  overflow: visible;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
}

.showcase-form,
.form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
}

/*Stats*/

.stats-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin: auto;
  max-width: 700px;
  text-align: center;
  padding: 10px;
}
.stats {
  padding-top: 80px;
  padding-bottom: 30px;
}

.stats .grid h3 {
  font-size: 20px;
  font-weight: bold;
}

.stats .grid p {
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.stats .text-center {
  align-items: center;
  text-align: center;
}

/* CLI */

.cli {
  padding: 20px 0;
}
.cli img {
  width: 100%;
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cli h3 {
  font-size: 18px;
  font-weight: bold;
}

/* Cloud */

.cloud h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  padding: 10px;
}

.cloud .grid {
  grid-template-columns: 55% 45%;
}

.cloud {
  background-color: var(--primary-color);
  padding: 30px;
}

.cloud img {
  width: 100%;
}

.cloud p {
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.cloud .text-center {
  text-align: center;
}

.cloud .btn {
  background-color: #002240;
  color: #fff;
}

/* Languages */
.languages h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.languages .card {
  margin-bottom: 60px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.languages .flex {
  flex-wrap: wrap;
}
/* Footer */
.footer {
  height: 150px;
  background-color: #002240;
}
.footer h3,
p,
a {
  color: #fff;
}

.footer .social a {
  margin: 0 10px;
  color: #fff;
}

/*Drop Menu*/
#menu ul {
  background-color: var(--primary-color);
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  line-height: 40px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

#menu .sub-menu a:hover {
  background: #f1f1f1;
  color: #333;
}

/*.sub-menu li {
  display: none;
}*/

#menu li {
  position: relative;
  padding-top: 15px;
}

#menu .sub-menu {
  display: none;
  position: absolute;
  padding: 10px 0;
}

#menu li:hover .sub-menu {
  display: block;
  z-index: 100;
}

/*Menu Responsive*/

/*Responsive*/

/*Tablets and under*/
@media (max-width: 768px) {
  #menu .item {
    display: none;
  }
  #menu {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  #menu .toggle {
    font-size: 20px;
    display: block;
    padding-bottom: 20px;
    padding-left: 40px;
  }

  .grid,
  .showcase .grid,
  .cli .grid,
  .stats .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
}
/*Mobile*/

@media (max-width: 500px) {
  .navbar {
    height: 120px;
  }

  .navbar ul {
    padding: 10px;
  }
}
